@keyframes ldio-i7cyhh1xw1j {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-i7cyhh1xw1j div {
  position: absolute;
  width: 50.51999999999998px;
  height: 50.51999999999998px;
  border: 10.08px solid #0084b4;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-i7cyhh1xw1j div {
  animation: ldio-i7cyhh1xw1j 0.9615384615384615s linear infinite;
  top: 100.49999999999999px;
  left: 100.49999999999999px
}
.loadingio-spinner-rolling-9bbzodaszrt {
  width: 201px;
  height: 201px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-i7cyhh1xw1j {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-i7cyhh1xw1j div { box-sizing: content-box; }
